{% load allauth %}
<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            

            <form method="{{ attrs.method }}" action="{{ attrs.action }}" class="max-w-sm mx-auto">
             
                
               

                <div class="mb-4">
                    {% slot body %}
                    {% endslot %}
                </div>

               

                <div class="mt-4">
                    {% slot actions %}
                    {% endslot %}
                </div>
            </form>
        </div>
    </div>
</div>
