{% extends 'header.html' %}
{% block main %}
{% if data %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg p-4 bg-white dark:bg-gray-800">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Sno
                </th>
                <th scope="col" class="px-6 py-3 w-48">
                    Product
                </th>
                <th scope="col" class="px-6 py-3">
                    User
                </th>
                <th scope="col" class="px-6 py-3">
                    Order Details
                </th>
                <th scope="col" class="px-6 py-3">
                    Payment Details
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4 text-gray-900 dark:text-white">
                    {{ forloop.counter }}
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                    <a href="/post/view/{{ i.product.id }}" class="hover:underline">
                        <img src="{{ i.product.image.url }}" width="100" height="100" class="rounded-lg" alt="Product Image">
                    </a>
                </td>
                <td class="px-6 py-4 text-gray-900 dark:text-white">
                    <p><span class="font-semibold">Name:</span> {{ i.user.username }}</p>
                    <p><a href="mailto:{{i.user.email}}" class="text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300">{{i.user.email}}</a></p>
                    <p class="font-semibold">Address</p>
                    <p><span class="font-semibold">Name:</span> {{ i.full_name }}</p>
                    <p>{{ i.mobile_no }}, {{ i.alternate_no }}</p>
                    <p>{{ i.address }}</p>
                    <p><span class="font-semibold">Pin code:</span> {{ i.pin_code }}</p>
                </td>
                <td class="px-6 py-4 text-gray-900 dark:text-white">
                    <p><span class="font-semibold">Rent Period:</span> {{ i.rent_start }} - {{ i.rent_end }}</p>
                    <p><span class="font-semibold">Delivery Type:</span> {{ i.delivery_type }}</p>
                    <p><span class="font-semibold">Order Date:</span> {{ i.order_date }}</p>
                    <p><span class="font-semibold">Delivery Date:</span> {{ i.delivery_date }}</p>
                    <p><span class="font-semibold">Delivery Status:</span> {{ i.delivery_status }}</p>
                    
                </td>
                <td class="px-6 py-4 text-gray-900 dark:text-white">
                    <p><span class="font-semibold">Price:</span> ₹{{ i.amount }}</p>
                    <p><span class="font-semibold">Quantity:</span> {{ i.quantity }}</p>
                    <p><span class="font-semibold">Shipping:</span> ₹{{ i.shipping }}</p>
                    <p><span class="font-semibold">Subtotal:</span> ₹{{ i.subtotal }}</p>
                    <p><span class="font-semibold">Platform Fee:</span> ₹{{ i.platform_fee }}</p>
                    <p><span class="font-semibold">Total:</span> ₹{{ i.total }}</p>
                    <p><span class="font-semibold">Ispaid:</span> {% if i.payment_status %} Paid {% else %} Failed {% endif %}</p>
                </td>
                <td class="px-6 py-4 text-gray-900 dark:text-white">
                    {% if "Pending" in i.delivery_status %}
                    <a href="/post/order/update/confirm/{{ i.id }}"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800 mb-2">
                        <i class="fa fa-check mr-1"></i>
                        Confirm
                    </a>
                    <a href="/post/order/update/cancel/{{ i.id }}"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-900">
                        <i class="fa fa-times mr-1"></i>
                        Cancel
                    </a>
                    {% else %}
                    
                    <a href="/post/order/update/{{ i.id }}"
                                class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 mr-2 mb-2 inline-flex items-center">
                                <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z">
                                    </path>
                                    <path fill-rule="evenodd"
                                        d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                Update
                            </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="text-center">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        No Orders Found
    </h1>
</div>
{% endif %}
{% endblock %}